body {
  margin: 0px;
}

.wizard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url(https://as2.ftcdn.net/v2/jpg/00/84/72/81/1000_F_84728133_SUB7ReZUbgvhRnOC6hXs7ENtC3ky5TSO.jpg);
}

.wizardForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  height: 70vh;
  width: 50%;
}

.wizardTracker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wizardTracker div h4 {
  font-weight: normal;
  color: grey;
}

.wizardTrackerSteps, .wizardTrackerCurrentStep {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
}

.wizardTrackerCurrentStep div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgreen;
  border-radius: 10px;
  border: 1px solid grey;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.wizardTrackerCurrentStep h4 {
  font-weight: bold !important;
  color: black !important;
}

.wizardTrackerGrayNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  border-radius: 10px;
  border: 1px solid grey;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.wizardTrackerGreenNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgreen;
  border-radius: 10px;
  border: 1px solid grey;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.wizardQuestions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wizardQuestions div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wizardQuestions div p{
  margin-right: 10px;
}

.wizardQuestions p:hover{
  cursor: pointer;
  text-decoration: underline;
}

.wizardNextPrev {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60.53px;
  width: 100%;
}

.wizardNextPrev button {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  height: 40px;
  width: 100px;
}

.wizardNextPrev button:hover {
  cursor: pointer;
  background-color: lightgreen;
  color: black;
  border: 1px solid grey;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.wizardAboutMe {
  display: flex !important;
  align-items: start !important;
  justify-content: center !important;
}

.wizardAboutMe p {
  cursor: default !important;
  text-decoration: none !important;
}

#aboutMeInput {
  width: 60%;
  height: 15vh;
  padding: 5px;
  font-size: 15px;
}

#birthday {
  padding: 3px;
}